/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 May 2022, 12:14:03
    Author     : Sfiso
*/
:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: white;
}

body{
    position: absolute;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-image: url(../images/backImage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}

textarea{
	min-height: 60px;
        width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

textarea:hover, textarea:valid
{
    border-color: #9b59b6;
}

header
{
    background: rgba(0,0,0,0.4);
   box-shadow: 0 0 5px black; 
}

#Heading{
   text-align: center;
    color: white; 
    letter-spacing: 3px;
    font-size: 30px;
}

#sidebar{
    position: fixed;
    width: 20%;
    height: 100%;
    left: -20%;
    background-color: white;
}

#sidebar li{
    color: black;
    font-size:30px;
    padding: 30px;
    border-bottom: 1px solid gray;
    text-align: center;
    background-color: white;
    display: block;
}

.toggle-btn{
    position: absolute;
    left: 105%;
    top: 15px;
}

.toggle-btn span{
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 3px;
}

#sidebar.active{
    left: 0;
}

.container .head
{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    background: linear-gradient(30deg, #1874CD,white);
}

#sidebar ul li:hover {
    background: #87CEFF;
    color: blanchedalmond;
    letter-spacing: 5px;
}

.f-detail{
    font-family: 'Poppins', sans-serif;  
}

.dabody{
    display: flex;
    height: 50vh;  
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.formContainer
{
    max-width: 700px;
    width: 100%;
    background: linear-gradient(30deg, #1874CD,white);
    padding: 25px 25px;
    border-radius: 5px;
    top: 50%;
    position: absolute;
    transform: translate(0%,-50%);
}

.formContainer .title{
   font-family: 'Poppins', sans-serif;
   font-size: 30px;
   font-weight: 500;
   position: relative;
}

.formContainer .title:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    bottom: 0;
    left: 0;
    background: white;
}

.formContainer form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

form .user-details .input-box{
    margin: 5px 0 0px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .f-detail{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
 
}

.user-details .input-box input{
    height:35px;
    width: 100%;
    color: black;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus, user-details .input-box input:valid{
    border-color: #9b59b6;
}

.input-bo
{
    border: 1px solid #ccc;
    font-family: 'Lucida' ,sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: black;
    height:35px;
    width: 100%;
    
    outline: none;
    padding-left: 10px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

 option
{
    color: black;
}

.btn-submit{
    height: 40px;
    margin: 20px 0;
}

.buttonn
{
    height: 100%;
    width: 100%;
    font-family: 'Lucida Console', sans-serif;
    font-size: 25px;
    outline: none;
    box-shadow: 0 0 5px black; 
    border: none;
    border-radius: 5px;
}

.buttonn:hover
{
    color: black;
    background-color: #98FB98;
    border-radius: 5px;
    font-size: 30px;
    letter-spacing: 3px;
}

.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.hero {
  height: calc(100vh - 80px);
  background-image: url(./bg.jpg);
  background-position: center;
}

.content-table{
    border-collapse: separate;
    margin: 50px 0;
    border-radius: 18px 19px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.content-table th,
.content-table td{
    padding: 8px 18px;
}

.content-table tbody tr{
    border-bottom: #fff;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #333333;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.content-table input[type="checkbox"]{
    margin: 1em;    
}

/*Add Decor Design*/
.adddecor{
    width: 450px;
    height: 680px;
    background: rgba(90, 1, 47, 0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 20px;
}

.addicon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -9%;
    left: calc(50% - 50px);
}


h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.adddecor p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.adddecor input{
    width: 100%;
    margin-bottom: 20px;
}

.adddecor input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.adddecor input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgba(224, 27, 82, 0.62);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.adddecor input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.adddecor a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.adddecor a:hover
{
    color: #ffc107;
}

.error{
    background: #F2DED;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

/*Edit Decor Design*/
.editdecor{
    width: 550px;
    height: 760px;
    background: rgba(90, 1, 47, 0.8);
    color: #fff;
    top: 54%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 20px;
}

.editicon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -9%;
    left: calc(50% - 50px);
}


h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.editdecor p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.editdecor input{
    width: 100%;
    margin-bottom: 20px;
}

.editdecor input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.editdecor input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgba(224, 27, 82, 0.62);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.editdecor input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.editdecor a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.editdecor a:hover
{
    color: #ffc107;
}

.error{
    background: #F2DED;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

/*Button Design*/
.button2{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 40px;
    cursor: pointer;
    background: #ffc107;
    color: #000;
    text-decoration: none;
    
}

.div2{
    
    float: right;
}

